.loginWrapper {
    margin-top: 150px;
}
.codewrap {
    display: flex;
    .codeInp {
        flex: 1;
        overflow: hidden;
    }
    .codeImage {
        width: 150px;
        height: 40px;
        &.loading {
            position: relative;
            &:after {
                content: 'loading...';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                text-align: center;
                line-height: 40px;
                color: #fff;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

